/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* custome style sheets */

*,
*::after,
*::before{
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    list-style: 1.6;
    font-size: 16px;
}

header{
    background-color: #59BFC2;
    width: 100%;
    font-size: 2.5rem;
    color: #ffff;
    padding: 1rem;
}
nav a{
    text-decoration: none;
    margin-right: 1rem;
    font-size: 1.2rem;
    color: #ffff;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.container{
    width: 90%;
    margin: 0 auto;
    /* border: 1px solid black; */
}

.hero-heading {
   text-align: center;
   width: 60%;
   margin-top: 5rem;
   height: 100vh;
}
h1{
    font-size: 4rem;
    text-transform: capitalize;
    color: #ffff;
}

.btn{
    padding: 1.5rem;
    background-color: #ffff;
    border-radius: 3%;
    text-transform: capitalize;
    border:none;
    width: 40%;
    margin-top: 0.8rem;
}

.hero-img img{
    width: 100%;
    box-shadow: 0 5px 5px -5px #333;
}
.files{
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-top: 10rem;
}

.files a{
    text-decoration: none;
    color: #BDC8E0;
    font-weight: 500;
}

hr{
    margin: 2rem;
}

h2{
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: 600;
    color: #2B407E;
}

p{
    font-size: 1.5rem;
}
article{
    width: 50%;
}
article p{
   margin: 1rem 0;
   color: #C9D0E1;
   font-weight: 400;
}

article figure img{
    width: 100%;
}

.poly-btn{
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    padding: 1rem;
   border: none;
    background-color: #59BFC2;
    width: 30%;
    color: #ffff;
}
.heading-2{
    text-align: center;
    margin: 3rem 0;
}

table{
    border: 1px solid black;
    font-size: 1.5rem;
    margin: 0 auto;
    padding: 1rem;
    text-transform: capitalize;
    width: 100%;
}

tr,
td{
    border: 1px solid black;
    padding: 1.5rem;
}
thead{
    background-color: #59BFC2;
    color: #ffff;
    border: none;
}
.bg-clr{
    background-color: #D5E5E5;
}

center{
    text-align: center;
    font-size: 1.3rem;
    text-transform: capitalize;
}
.flex-00{
    display: flex;
}
.flex-0{
    display: flex;
    justify-content: center;
}

.flex-20{
    flex: 0 1 20%;
}
.flex-25{
    flex: 0 1 25%;
}
.flex-30{
    flex: 0 1 30%;
}
.flex-40{
    flex: 0 1 40%;
}
.flex-45{
    flex: 0 1 45%;
}
.flex-50{
    flex: 0 1 50%;
}
.flex-60{
    flex: 0 1 60%;
}
.flex-65{
    flex: 0 1 65%;
}
.flex-70{
    flex: 0 1 70;
}
.flex-75{
    flex: 0 1 75%;
}
.flex-80{
    flex: 0 1 80%;
}
.flex-90{
    flex: 0 1 90%;
}
.flex-100{
    flex: 0 1 100%;
}

.box{
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    border-radius: 5%;
}
div p {
    text-align: center;
}
span{
    color: #59BFC2;
    font-size: 1.5rem;
}
h3{
    font-size: 3rem;
    color: #59BFC2;
    font-weight: 900;
}
h5{
    font-size: 1.5rem;
}

h6{
    font-size: 2rem;
    margin-bottom: 1rem;
}
.image img{
    width: 1.5rem;
    height: 1.5rem;
}

.btn-2{
    padding: 1.5rem;
    border-radius: 3%;
    text-transform: capitalize;
    border:none;
    margin: 0 auto;
    background-color:#59BFC2;
    width: 60%;
    color: #ffff;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.btn-2-1{
    padding: 1.5rem;
    border-radius: 3%;
    text-transform: capitalize;
    border:none;
    margin: 0 auto;
    width: 60%;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.mrg-top{
    margin: 2rem 0rem;
}

h4{
    font-size: 1.8rem;
    margin: 2rem 0;
}

.heading{
    font-size: 3rem;
    text-align: center;
}
.box-2{
    background-color:#59BFC2;
    width: 100%;
    padding: 5rem;
    border-radius: 2rem;
    margin-bottom: 2rem;
}
.mrg{
    margin-top: 2rem;
}
footer h2{
    font-size: 2rem;
}
footer li{
    text-decoration: none;
    color: gray;
    margin-top: 1rem;
}